body {
    background-color: black;
    margin-top: 0;
}

.wd-search-bar-div {
    margin-left: 16px;
    margin-right: 12px;

    padding-left: 16px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 54px;

    border: 1px solid rgb(47, 51, 54);
    border-top: 0px;
}

.wd-search-input-div {
    background-color: rgb(33, 35, 39);
    border-radius: 20px;
    color: white;
    font-size: small;
    width: 86%;
    padding-left: 20px;
    display: inline-block;

}

.wd-search-input {
    border: none;
    background-color: rgba(33, 35, 39, 0);
    color: white;
    width: 90%;
    padding: 12px;
    border-radius: 20px;
}

.wd-search-input:focus {
    outline: none;
}

.wd-gear-icon {
    color: #1d96e0;
    font-size: xx-large;
    float: right;
    position: relative;
    bottom: 5px;
}

.wd-gear-icon>a {
    text-decoration: none;
}

.wd-row {
    clear: both;
}

.wd-row>div>button {
    margin-left: 0px;
    padding: 16px 0px;
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(110, 118, 125);
}

.wd-row>div>button.wd-first-link {
    color: rgb(29, 161, 242);
    border-bottom: 4px solid rgb(29, 161, 242);
}

.wd-col {
    width: 16.66%;
    float: left;
}

.wd-gray-break {
    height: 13px;
    margin-left: 16px;
    margin-right: 12px;
    background-color: #212327;
    border: 1px solid rgb(47, 51, 54);
}

.wd-suggested-post {
    margin-left: 16px;
    margin-right: 12px;

    padding: 16px 16px;
    border: 1px solid rgb(47, 51, 54);
}

.wd-suggested-post>div {
    padding-bottom: 5px;
}

.wd-suggested-topic {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-suggested-title {
    color: white;
    font-size: large;
}

.wd-suggested-topic-name {
    color: white;
    margin-bottom: 4px;
}

.wd-date-color {
    color: rgb(110, 118, 125);
}

.wd-story-picture {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.wd-col-post {
    width: 80%;
    float: left;
}

.wd-col-post-img {
    float: right;
}

.wd-suggested-post-image {
    margin-left: 16px;
    margin-right: 12px;

    padding: 16px 16px;
    padding-bottom: 116px;
    border: 1px solid rgb(47, 51, 54);
}

.wd-topic-gray {
    color: rgb(110, 118, 125);
}

.wd-dots-right {
    float: right;
    color: #1d9dea;
}

/* Bookmarks.html styles */


.wd-bookmark-title {
    margin-left: 16px;
    margin-right: 12px;

    padding-left: 16px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 16px;

    border: 1px solid rgb(47, 51, 54);
    border-top: 0px;
}

.wd-bookmark-head {
    color: white;
    font-size: 20px;

}

.wd-bookmark-handle {
    color: lightgray;
    font-size: 13px;
    margin-top: 5px;
}

.wd-bookmark-item {
    margin-left: 16px;
    margin-right: 12px;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 16px;

    border: 1px solid rgb(47, 51, 54);
}

.wd-col-image-profile {
    float: left;
}

.wd-image-prof {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
}

.wd-col-comments {
    float: left;
    width: 90%;
}

.wd-bookmark-handle {
    color: lightgray;
    font-size: 15px;
}

.wd-white-font {
    color: white;
    font-size: 15px;

}

.wd-dots-right-content {
    color: gray;
    float: right;
    padding-right: 0px;
}
.wd-bookmark-image {
    border: 1px solid rgb(47, 51, 54);
    width: 504px;
    margin-left: 60px;
    border-radius: 20px;
}

.wd-bookmark-image > img {
    width: 504px;
    height: 264px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid rgb(47, 51, 54);
}

.wd-image-caption-title {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 15px;
    padding:12px;
}

.wd-image-caption {
    color: lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    padding:12px;

}

.wd-4-col {
    float:left;
    width: 25%;
}

.wd-icon-row {
    padding: 12px;
    margin-left: 60px;
    width: 504px;
}

.wd-icon {
    color:lightgray;
    text-decoration: none;
}

.wd-icon-heart {
    color: red;
    text-decoration: none;
}

.wd-icon-number {
    padding-left:12px;
}